﻿@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1 class="text-center"><a href="/">Teste Connect Partscontent</a></h1>
</div>

<p>@DateTime.Now.ToLongDateString()</p>

<h2 class="text-center">@Html.ActionLink("Listar Personagens", "Personagens", "Home")</h2>