﻿@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1 class="text-center">Teste Connect Parts</h1>
</div>


@foreach (var personagem in ViewBag.personagens)
{
    <div style="overflow: hidden; margin-top: 50px;">
        <div style="float: left; margin-right: 50px;">
            <img src="@personagem.UrlImagem" height="200" width="200" />
        </div>
        <div style="margin-left: 50px;">
            <h2><a href="@personagem.UrlWiki">@personagem.Nome</a></h2>
            <p>@personagem.Descricao</p>
            <p><em>@Html.ActionLink("Quadrinhos >>", "Quadrinhos", "Home", new { codigoPersonagem = personagem.Id }, null)</em></p>
        </div>
    </div>
}


