﻿@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1 class="text-center">Teste Connect Parts</h1>
</div>


@foreach (var quadrinho in ViewBag.quadrinhos)
{
    <div style="overflow: hidden; margin-top: 50px;">
        <div style="float: left; margin-right: 50px;">
            <img src="@quadrinho.UrlImagem" height="200" width="200" />
        </div>
        <div style="margin-left: 50px;">
            <h2><a href="@quadrinho.UrlWiki">@quadrinho.Title</a></h2>
            <p>@quadrinho.Descricao</p>
        </div>
    </div>

    <!-- Campos para gravar no banco de dados-->
    <input type="hidden" name="id[]" value="@quadrinho.Id" />
    <input type="hidden" name="idPersonagem[]" value="@quadrinho.IdPersonagem" />
    <input type="hidden" name="title[]" value="@quadrinho.Title" />
    <input type="hidden" name="UrlImagem[]" value="@quadrinho.UrlImagem" />
    <input type="hidden" name="Descricao[]" value="@quadrinho.Descricao" />
    <input type="hidden" name="UrlWiki[]" value="@quadrinho.UrlWiki" />
}




